<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Meu Portfólio</title>
  </head>
  <body>

    <header>

      <div class="conteiner">
        <span class="header-title">Keven Franco</span>

        <div class="nav">
          <nav>
            <ul>
              <li><a href="#about">Sobre</a></li>
              <li><a href="#services">Serviços</a></li>
              <li><a href="#portfolio">Portfólio</a></li>
              <li><a href="#contact">Contato</a></li>
            </ul>
          </nav>
        </div>

      </div>
    </header>
    
    <main>

      <section id="hero-banner">

        <div class="text-container">
          <h2 class="text"> Olá, eu sou o Keven 🙂 </h2>
        </div>
        
        
        <div class="image-container">

          <div class="grid-1">
            <img [ngClass]="{'img-appear': imgVisible}" src="../assets/image1.jpg">
            <img [ngClass]="{'img-appear': imgVisible}" src="../assets/image2.jpg">
            <img [ngClass]="{'img-appear': imgVisible}" src="../assets/image3.jpg">
            <img [ngClass]="{'img-appear': imgVisible}" src="../assets/image4.jpg">
            <img [ngClass]="{'img-appear': imgVisible}" src="../assets/image5.jpg">
          </div>

        </div>

      </section>

      <section id="hero-banner">
        <h2>Sobre mim</h2>
        <p>Informações sobre mim e minhas habilidades</p>
      </section>

      <section id="services">
        <h2>Serviços</h2>
        <p>Descrição dos serviços que ofereço</p>
      </section>

      <section id="portfolio">
        <h2>Portfólio</h2>
        <p>Exemplos de meu trabalho</p>
      </section>

      <section id="contact">
        <h2>Contato</h2>
        <p>Formulário de contato e informações de contato</p>
      </section>

    </main>
    <footer>
      <p>Copyright &copy; 2023 Meu Nome</p>
    </footer>
  </body>
</html>
