
* {
    font-family: 'Lato', 'sans-serif';
}

.conteiner {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .header-title {
    padding-left: 20px;
  }
  
.nav {
    display: flex;
    justify-content: flex-end;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  header nav li {
    flex: 1;
    text-align: center;
    margin-right: 50px;
  }
  
  header nav a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  header nav a:hover {
    background-color: gray;
    border-radius: 5px;
    color: white;
    transform: scale(1.1);
  }
  
/*SESSÃO HERO BANNER */

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh
}

.text {
    animation: appearFromBottom 1s ease-in-out forwards;
    transform: translateY(100%);
} 

@keyframes appearFromBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* GRID DE IMAGENS */

.image-container {
    padding-top: 40px;
}

.grid-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin: 10px;
}
.grid-1 img {
    width: 100%;
    height: auto;
  }

.img-appear {
    animation: appearFromBottom 1s ease-in-out forwards;
    transform: translateY(100%);
}

